################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OneWaySynchronizationConsoleApp/bin
/OneWaySynchronizationConsoleApp/obj
/OneWaySynchronizationConsoleApp/Properties/launchSettings.json
